.header {
	z-index: 1000;
	min-width: 375px;
	width: 100%;
	background-color: var(--white-color);

	&-container {
		display: flex;
		align-items: flex-start;
	} //ok

	&-top {
		padding-top: 6px;
		padding-bottom: 5px;
		border-bottom: 1px solid var(--gray1-color);

		&:not(:last-child) {
			margin-bottom: 12px;
		}
		&-container {
			flex-wrap: wrap;
			justify-content: flex-end;
			gap: 24px;
		}
		&__link {
			display: flex;
			align-items: center;
			min-height: 36px;
			height: 36px;

			&--tdu {
				.text-content {
					text-decoration: underline;
					text-decoration-style: solid;
					text-underline-offset: 4px;
					text-decoration-color: var(--gray10-color);
				}

				&:hover {
					.text-content {
						text-decoration: none;
						text-decoration-style: unset;
						text-underline-offset: unset;
					}
				}
			}
		}
		&-nav {
			display: flex;
			flex-wrap: wrap;
			gap: 8px 24px;

			&:not(:last-child) {
				margin-right: auto;
			}
		}
		&-info {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
		}
		&-social {
			.social__item {
				.icon {
					min-width: 36px;
					width: 36px;
					min-height: 36px;
					height: 36px;
					fill: var(--gray30-color);
					stroke: var(--gray30-color);
				}
			}
		}
	} //ok

	&-nav {
		padding-top: 8px;
		padding-bottom: 8px;
		overflow: hidden;

		&-container {
			flex-wrap: wrap;
			align-items: center;
			gap: 8px 20px;
		}
	} //ok

	&-logo {
		display: flex;
		align-items: center;

		.image {
			min-width: 130px;
			width: 130px;
			min-height: 36px;
			height: 36px;
		}
	} //ok

	//@check
	&-search {
		position: relative;
		flex: 1;

		&-results { // @check
			z-index: 11;
			transition: var(--transition);
		}
		.search-results {
			display: flex;
			border-radius: 8px;
			box-shadow: 0 12px 32px rgba(128, 129, 133, 0.32);
			background-color: var(--white-color);

			&__header {
				transition: var(--transition);
			}
			&__sidebar {
				&-item {
					display: flex;
					flex-direction: column;
				}
				&-title {
					color: var(--text-secondary);
					font-weight: 700;
				}
			}
			&__match {
				&-item {
					position: relative;
					padding-right: 28px;
				}
			}
			&__link {
				justify-content: flex-start;
				border: none;
				border-radius: 0;
				font-weight: 400;
				font-size: 13px;
				letter-spacing: 0;
				text-transform: unset;

				&.btn .icon {
					min-width: 12px;
					width: 12px;
					min-height: 12px;
					height: 12px;
					fill: var(--text-caption);
				}
				.text-content {
					white-space: unset;
					line-height: 18px;
				}
				&-delete {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}

				&:hover {
					&.btn .icon {
						fill: var(--text-caption);
					}
				}
			}

			&__suggest {
				&-list {
					overflow: auto;

					&::-webkit-scrollbar,
					&::-webkit-scrollbar-track,
					&::-webkit-scrollbar-thumb {
						min-width: 4px;
						width: 4px;
					}
					&::-webkit-scrollbar,
					&::-webkit-scrollbar-track {
						background-color: transparent;
					}
					&::-webkit-scrollbar-button {
						opacity: 0;
					}
					&::-webkit-scrollbar-thumb {
						border-radius: 2px;
					}
					&::-webkit-scrollbar-thumb {
						background-color: var(--gray4-color);
						opacity: 0.4;
					}
				}
				&-details {
					z-index: 1;
					display: flex;
					align-items: center;
					padding-top: 12px;
					background-color: var(--white-color);
					line-height: 18px;
				}
				&-found {
					color: var(--text-secondary);
				}
			}
		}
	}
	.search-results-product {
		display: flex;
		align-items: flex-start;

		&__descr {
			display: flex;
			flex: 1;
			flex-direction: column;
			gap: 8px;

			&-header {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}
			&-bottom {
				display: flex;
				justify-content: space-between;
			}
		}
		&__title {
			line-height: 1.3;
		}
		&__price {
			display: flex;
			flex: 1;
			flex-wrap: wrap;
			align-items: center;

			&-current {
				font-weight: 700;
			}
			&-originally {
				color: var(--text-caption);
				text-decoration: line-through;
			}
		}
	}

	&-contacts {
		display: flex;
		flex-direction: column;
		justify-content: center;
	} //ok

	&-profile {
		display: flex;
		align-items: center;
		gap: 24px;
		margin-left: auto;

		&__btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2px;
			min-width: 65px;
			color: var(--text-primary);
			font-weight: 500;
			font-size: 12px;
			line-height: 20px;
			transition: var(--transition);


			&-view {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;

				.icon {
					fill: var(--text-primary);
					stroke: var(--text-primary);
				}
			}
			&-count {
				position: absolute;
				top: -7px;
				right: -12px;
				display: flex;
				justify-content: center;
				align-items: center;
				min-width: 20px;
				min-height: 20px;
				height: 20px;
				padding: 0 3px;
				border: 2px solid var(--white-color);
				border-radius: 20px;
				background-color: var(--red0-color);
				color: var(--white-color);
				font-weight: 800;
				font-size: 11px;
				line-height: 14px;
			}

			&:hover {
				color: var(--green10-color);

				.icon {
					fill: var(--green10-color);
					fill: var(--green10-color);
				}
			}
		}
	} //ok

	&-catalog {
		display: flex;
		align-items: center;
		min-width: 100%;
		width: 100%;

		&__item {
			display: flex;
			align-items: center;
			min-height: 32px;
			height: 32px;
			font-weight: 600;
			font-size: 14px;
			white-space: nowrap;
		}
	} //ok

	&-mobile-menu {
		margin-left: auto;
	} //ok
}

.burger {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;

	.icon {
		min-width: 32px;
		width: 32px;
		min-height: 32px;
		height: 32px;
		fill: var(--text-primary);
		stroke: var(--text-primary);
	}
	.icon,
	.text-content {
		pointer-events: none;
		user-select: none;
	}
} //ok

//@check
.menu-catalog {
	z-index: 2000;
	position: fixed;
	display: flex;
	flex-direction: column;
	box-shadow: 0 12px 32px rgba(128, 129, 133, 0.32);
	opacity: 0;
	pointer-events: none;
	user-select: none;
	background-color: var(--white-color);

	&.active {
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}
	&.menu-catalog-overflow {
		overflow: auto;
	}
	&,
	&-root,
	&-submenu-links {
		&::-webkit {
			&-scrollbar,
			&-scrollbar-track {
				background-color: transparent;
			}
			&-scrollbar-button {
				display: none;
			}
			&-scrollbar-thumb {
				border-radius: 3px;
				background-color: var(--gray5-color);
			}
		}
	}
	&,
	&-root {
		&::-webkit {
			&-scrollbar,
			&-scrollbar-track,
			&-scrollbar-thumb {
				min-width: 5px;
				width: 5px;
			}
		}
	}

	&-container {
		position: relative;
		display: flex;
	}

	&-spoiler {
		.icon {
			transition: unset;
		}

		&:not(.active) {
			.menu-catalog-spoiler__icon-active {
				display: none;
			}
		}
		&.active {
			.menu-catalog-spoiler__icon {
				display: none;
			}
		}
	}

	&-root {
		overflow: auto;

		&-item {
			display: flex;

			.btn {//@check
				justify-content: flex-start;
				width: 100%;
				gap: 12px;
				font-weight: 400;
				font-size: 13px;
				line-height: 18px;
				letter-spacing: 0;
				text-transform: unset;

				.icon {
					fill: var(--text-secondary);
					stroke: var(--text-secondary);
				}
			}
		}
		&-link {
			display: flex;
			flex: 1;
			align-items: center;
			gap: 12px;
			min-height: 44px;
			height: 44px;
			padding-right: 12px;
			padding-left: 12px;

			.text-content {
				flex: 1;
			}
			.icon {
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
				fill: var(--text-secondary);
				stroke: var(--text-secondary);
			}

			&:hover,
			&:active,
			&.active {
				background-color: var(--gray0-color);
			}
		}
	}

	&-submenu {
		&-section {
			&:not(.active) {
				display: none;
			}
		}

		&-links {
			&::-webkit {
				&-scrollbar,
				&-scrollbar-track,
				&-scrollbar-thumb {
					min-height: 5px;
					height: 5px;
				}
			}
		}
		&-link {
			display: flex;
			flex: 1;
			align-items: center;
			gap: 12px;
			min-height: 44px;
			height: 44px;
			padding-right: 12px;
			padding-left: 12px;

			.text-content {
				flex: 1;
			}
			.icon {
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
				fill: var(--text-secondary);
				stroke: var(--text-secondary);
			}

			&:hover,
			&:active,
			&.active {
				background-color: var(--gray0-color);
			}
		}
	}
}

.mobile-menu {
	z-index: 2000;
	position: fixed;
	flex-direction: column;
	top: 0;
	left: -100vw;
	display: flex;
	min-width: 308px;
	width: 308px;
	min-height: 100vh;
	height: 100vh;
	overflow: auto;
	background-color: var(--white-color);
	user-select: auto;
	transition: var(--transition);

	&::-webkit-scrollbar {
		width: 0;
	}
	&.active {
		left: 0;

		.mobile-menu-close {
			position: fixed;
			right: 12px;
			opacity: 1;
			pointer-events: auto;
			user-select: auto;
			cursor: pointer;
		}
	}
	&-close {
		z-index: 1;
		position: fixed;
		top: 8px;
		right: 100vw;
		min-width: 44px;
		width: 44px;
		min-height: 44px;
		height: 44px;
		padding: 6px;
		opacity: 0;
		pointer-events: none;
		user-select: none;
		cursor: default;

		.icon {
			min-width: 32px;
			width: 32px;
			min-height: 32px;
			height: 32px;
			fill: var(--white-color);
			stroke: var(--white-color);
		}
	}
	&-catalog {
		padding: 12px;

		.menu-catalog-spoiler {
			min-width: 100%;
			width: 100%;
		}
	}
	&-list {
		li {
			border-top: 1px solid var(--gray1-color);
		}
	}
	&__link {
		display: flex;
		align-items: center;
		gap: 12px;
		min-width: 100%;
		width: 100%;
		min-height: 44px;
		height: 44px;
		padding-right: 12px;
		padding-left: 12px;
		font-weight: 600;
		font-size: 14px;

		.text-content {
			flex: 1;
		}
		.icon {
			min-width: 16px;
			width: 16px;
			min-height: 16px;
			height: 16px;
			fill: var(--text-secondary);
			stroke: var(--text-secondary);
		}
	}
	&-footer {
		padding-bottom: 32px;
	}
	&-login {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 16px 12px;
	}
	&-contacts {
		display: flex;
		flex-direction: column;
		gap: 2px;
		padding: 8px 12px;
	}
	&-connection {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		padding: 4px 12px 8px;

		&__item {
			display: inline-flex;
			flex: 1;
			align-items: center;
			gap: 8px;

			.icon {
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
				fill: var(--text-primary);
				stroke: var(--text-primary);
			}
		}
		&__soc {
			display: flex;
			flex-wrap: wrap;
			gap: 8px 2px;

			&-item {
				display: flex;
				justify-content: center;
				align-items: center;
				min-width: 40px;
				width: 40px;
				min-height: 40px;
				height: 40px;

				.icon {
					fill: var(--text-secondary);
					stroke: var(--text-secondary);
				}
			}
		}
	}
} // ok

//@check
.mobile-menu-panel {
	z-index: 990;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: 0 4px 12px rgba(128, 129, 133, 0.16); //@check
	background-color: var(--white-color);

	&__toolbar {//@check
		border-top: 1px solid var(--gray5-color);
	}
	&__list {
		display: flex;
		justify-content: space-between;
		max-width: 375px;
		margin: 0 auto;
		padding: 8px 0 16px;
	}
	&__btn {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;
		min-width: 93px;
		width: 93px;
		min-height: 0;
		height: auto;
		padding-top: 2px;
		padding-bottom: 2px;
		color: var(--text-secondary);
		font-size: 13px;
		line-height: 20px;

		&-view {
			.icon {
				min-width: 20px;
				width: 20px;
				min-height: 20px;
				height: 20px;
				fill: var(--text-primary);
				stroke: var(--text-primary);
			}
		}
		&-secondary {
			color: var(--text-primary);
			font-weight: 600;
		}
		.header-profile__btn-count {
			background-color: var(--green10-color);
		}

		&:hover {
			color: var(--green10-color);

			.icon {
				fill: var(--green10-color);
				stroke: var(--green10-color);
			}
		}
	}

	&__cart { //@check
		padding: 8px 16px;
		border-top: 1px solid var(--gray5-color);

		&:not(.active) {
			display: none;
		}
		.cart-quantity-input {
			min-width: 65px;
			width: 65px;
		}
	}
}

@media (min-width: 992px) {//1200
	.header {
		position: fixed;
		gap: 16px;

		& ~ .main {
			padding-top: calc(185px + 32px);
		}

		&-logo {
			.image {
				min-width: 156px;
				width: 156px;
				min-height: 42px;
				height: 42px;
			}
		} //ok

		// @check
		&-search {
			max-width: 600px;

			&-results {
				position: absolute;

				&:not(.active) {
					display: none;
				}
			}
			.search-results {
				min-width: 780px;
				width: 780px;
				min-height: 750px;
				height: 750px;

				&__header {
					display: none;
				}
				&__sidebar {
					min-width: 300px;
					width: 300px;
					overflow: auto;
					border-right: 1px solid var(--gray5-color);

					&::-webkit-scrollbar {
						width: 0;
					}
					&-item {
						gap: 16px;
						padding: 20px 24px;

						&:not(:last-child) {
							border-bottom: 1px solid var(--gray5-color);
						}
					}
				}
				&__match {
					.search-results__sidebar-title {
						display: none;
					}
				}
				&__link {
					&-delete {
						right: 0;
					}
				}
				&__suggest {
					height: 100%;
					padding: 12px 4px 12px 12px;

					&-title {
						display: none;
					}
					&-list {
						height: 690px;
					}
					&-details {
						justify-content: space-between;
						gap: 32px;
						padding-bottom: 8px;
					}
					&-more {
						min-height: 0;
						height: auto;
						padding: 0;
						background-color: transparent;
						color: var(--red-color);
						font-weight: 400;
						font-size: 13px;
						line-height: 18px;
						letter-spacing: 0;
						text-transform: unset;

						&:hover {
							color: var(--text-primary);
						}
					}
				}
			}
		}
		.search-results-product {
			gap: 16px;
			padding: 12px 16px 12px 0;

			&__view {
				&,
				img {
					min-width: 64px;
					width: 64px;
					min-height: 64px;
					height: 64px;
				}
			}
			&__descr {
				&-bottom {
					gap: 16px;
				}
			}
			&__title {
				font-weight: 600;
			}
			&__price {
				gap: 4px 8px;
			}
			&__cart {
				.cart-quantity {
					padding: 5px 6px;
				}
			}
		}

		&-contacts {
			gap: 2px;
			min-height: 46px;
		} //ok

		// @check
		&-profile {
			&__btn {
				min-height: 48px;
				height: 48px;

				&-view {
					.icon {
						min-width: 24px;
						width: 24px;
						min-height: 24px;
						height: 24px;
					}
				}
			}
		}

		&-catalog {
			padding-top: 12px;

			&__item {
				min-height: 40px;
				height: 40px;
				font-size: 15px;
			}
		} //ok

		&-mobile-menu {
			display: none;
		} //ok

		// @check
		&:not(.scrolled) {
			& ~ .menu-catalog {
				top: 185px;
				right: 0;
				left: 0;

				&.menu-catalog-overflow {
					min-height: calc(100vh - 185px);
					height: calc(100vh - 185px);
				}
			}
		}

		// @check
		&.scrolled {
			/*border-bottom: add;*/

			.header-top,
			.header-catalog {
				display: none;
			}

			& ~ .menu-catalog {
				top: 61px;
				right: 0;
				left: 0;

				&.menu-catalog-overflow {
					min-height: calc(100vh - 61px);
					height: calc(100vh - 61px);
				}
			}
		}
	}

	// @check
	.menu-catalog {
		&,
		&-root,
		&-submenu {
			min-height: 710px;
			height: 710px;
		}
		&-header {
			display: none;
		}
		&-submenu {
			&-links {
				column-count: 3;
			}
		}
	}
	.menu-catalog {
		&-root {
			min-width: 350px;
			width: 350px;
			padding: 32px 32px 32px 0;
			border-right: 1px solid var(--gray5-color);

			&-item {
				&-pointer {
					display: none;
				}
			}
		}
		&-submenu {
			min-width: calc(100% - 350px);
			width: calc(100% - 350px);
			padding: 28px 0 28px 32px;

			&-section {
				display: flex;
				flex-direction: column;
				gap: 32px;

				&__title {
					line-height: 1;
				}
			}
			&-links {
				min-height: 366px;
				height: 366px;
				padding-bottom: 12px;
				overflow: auto;
				column-gap: 40px;

				&__list {
					break-inside: avoid;

					&:not(:last-child) {
						margin-bottom: 40px;
					}
					li {
						line-height: 18px;

						&:not(:last-child) {
							margin-bottom: 16px;
						}
					}
				}
			}
		}
	}

	.mobile-menu {
		display: none;
	}

	.mobile-menu-panel {
		display: none;
	}
}
@media (min-width: 1200px) {
	.header {
		&-logo,
		&-search {
			&:not(:last-child) {
				margin-right: 16px;
			}
		}
	}
}
@media (max-width: 991.98px) {//1199
	.header {
		&-top {
			display: none;
		}

		&-logo {
			order: 0;

			.logo {
				padding-top: 4px;
				padding-bottom: 4px;
			}
		} //ok

		&-profile {
			display: none;
		} //ok

		&-search {
			order: 15;
			min-width: 100%;

			.input-wrapper-search {
				.input {

				}
			}
			.input-search-btn {
				display: none;
			}
			//@check
			&-results {
				/*display: none!important;*/
				position: fixed;
				top: 100%;
				right: 0;
				left: 0;
				min-height: 100vh;
				height: 100vh;

				&.active {
					top: 0;

					.search-results {
						padding-top: 164px;

						&__header {
							top: 0;
						}
					}
				}
			}

			.search-results {
				flex-wrap: wrap;
				min-width: 100%;
				width: 100%;
				min-height: 100vh;
				height: 100vh;
				overflow: auto;

				&__header {
					z-index: 10;
					position: fixed;
					top: 100%;
					right: 0;
					left: 0;
					display: flex;
					flex-direction: column;
					gap: 20px;
					width: 100vw;
					border-bottom: 1px solid var(--gray5-color);
					background-color: var(--white-color);

					&-top {
						display: flex;
						align-items: center;
					}
				}
				&__close {
					display: flex;
					margin-left: auto;
				}
				&__search {
					display: flex;
					flex-direction: column;
					gap: 12px;
				}
				&__search,
				&__sidebar,
				&__suggest {
					min-width: 100%;
					width: 100%;
				}
				&__sidebar {
					display: flex;
					flex-wrap: wrap;
					border-bottom: 1px solid var(--gray5-color);
				}
				&__match {
					min-width: 100%;

					.search-results__sidebar-title {
						border-bottom: 1px solid var(--gray5-color);
					}
					&-item {
						border-bottom: 1px solid var(--gray5-color);
					}
				}
				&__categories {
					display: none;
				}
				&__brands,
				&__series {
					flex: 1;
					padding-top: 8px;
					padding-bottom: 8px;
				}
				&__suggest {
					&-title {
						color: var(--text-secondary);
						font-weight: 700;
						line-height: 18px;
					}
					&-found {
						display: none;
					}
					&-details {
						justify-content: center;
						padding-bottom: 20px;
						border-top: 1px solid var(--gray5-color);
					}
				}
			}
		}
		&-search {
			&-results {
				&.active {

					.mobile-search-results-hint {
						margin-right: -16px;
						margin-left: -16px;

						.swiper {
							padding-right: 16px;

							.swiper-slide {
								width: auto;

								&:first-child {
									margin-left: 16px;
								}
							}
						}
					}
				}
			}

			.search-results {
				&__header {
					padding: 12px 16px 20px;
				}
				&__match {
					.search-results__sidebar-title {
						padding: 10px 16px;
					}
					&-item {
						padding: 10px 56px 10px 16px;
					}
				}
				&__link {
					&-delete {
						right: 26px;
					}
				}
				&__brands,
				&__series {
					.search-results__sidebar-title,
					.search-results__link {
						padding: 9px 16px;
					}
				}
				&__suggest {
					&-title {
						padding: 11px 16px;
					}
				}
			}
		}

		.search-results-product {
			gap: 12px;

			&__view {
				&,
				img {
					min-width: 40px;
					width: 40px;
					min-height: 40px;
					height: 40px;
				}
			}
			&__descr {
				&-bottom {
					gap: 12px;
				}
			}
			&__title {
				font-size: 12px;
			}
			&__price {
				font-size: 12px;

				&-current,
				&-originally {
					min-width: 100%;
				}
			}
			&__cart {
				.cart-quantity {
					padding: 7px 6px;

					&-input {
						min-width: 28px;
						width: 28px;
					}
				}
				.cart-in {
					min-height: 36px;
					height: 36px;
					padding: 5px 12px;
				}
			}
		}
		.search-results-product {
			padding: 12px 16px;
		}

		&-contacts {
			order: 5;

			&__tel {
				line-height: 44px;
				text-decoration: underline;
				text-decoration-style: dotted;
				text-underline-offset: 4px;

				&:hover {
					text-decoration: none;
				}
			}
			&__cta {
				display: none;
			}
		} //ok

		&-catalog {
			order: 20;

			&-spoiler {
				display: none;
			}
		}

		&-mobile-menu {
			order: 10;
		} //ok
	}

	.menu-catalog {
		top: 0;
		right: 0;
		left: 0;
		min-height: 100%;

		&.menu-catalog-overflow {
			min-height: 100%;
			height: 100%;
		}
		&-container {
			flex-wrap: wrap;
			padding-top: 53px;
		}
		&-header {
			z-index: 1;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			display: flex;
			align-items: flex-start;
			gap: 8px;
			min-width: 100%;
			padding-top: 2px;
			padding-bottom: 10px;
			border-bottom: 1px solid var(--gray5-color);
			background-color: var(--white-color);
		}
		&-title {
			display: flex;
			align-items: center;
			gap: 8px;
			min-height: 40px;
			line-height: 20px;
		}
		&-title-back,
		&-close {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 40px;
			width: 40px;
			min-height: 40px;
			height: 40px;
			padding: 8px;
		}
		&-close {
			margin-left: auto;
		}
	}
	.menu-catalog {
		&-container {
			padding-right: 0;
			padding-bottom: 28px;
			padding-left: 0;
		}
		&-header {
			padding-right: 16px;
			padding-left: 16px;

			&:not(.submenu) {
				.menu-catalog-title-back {
					display: none;
				}
			}
		}
		&-root {
			min-width: 100%;

			&.hide {
				display: none;
			}
			&-item {//@check
				.btn {
					min-height: 44px;
					height: 44px;
					padding: 5px 16px;
					border-bottom-color: var(--gray5-color);
					border-radius: 0;

					&:hover {
						background-color: transparent;
					}
				}
				&-pointer {
					display: flex;
					justify-content: center;
					align-items: center;
					min-width: 32px;
					width: 32px;
					min-height: 32px;
					height: 32px;
					margin-left: auto;
				}
			}
			&-item {
				&:not(:last-child) {
					border-top: 1px solid var(--gray1-color);
				}
				&:last-child {
					border-bottom: 1px solid var(--gray1-color);
				}
			}
		}
		&-submenu {
			min-width: 100%;
			padding-bottom: 24px;

			&:not(.active) {
				display: none;
			}
			&-section {
				&__title {
					display: none;
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1279.98px) {
	.header {
		&-top {
			&__location {
				.text-content {
					display: none;
				}
			}
		}
	}
}